---
import { BlendingModeIcon, DiscordLogoIcon, GitHubLogoIcon, InstagramLogoIcon, LinkedInLogoIcon, ModulzLogoIcon, TwitterLogoIcon } from '@radix-ui/react-icons';
import { Button } from '../components/ui/button';
import { LINKS } from '@/lib/constants';
import { Mail, YoutubeIcon } from 'lucide-react';
---
<div class="flex justify-center md:justify-start space-x-4 mt-4">
    <a href={LINKS.github} target="_blank">
      <Button variant="outline" size="icon" className="border-2 border-primary theme-border">
        <GitHubLogoIcon className="h-6 w-6" />
        <span class="sr-only">GitHub</span>
      </Button>
    </a>
    <a href={LINKS.linkedin} target="_blank">
      <Button variant="outline" size="icon" className="border-2 border-primary theme-border">
        <LinkedInLogoIcon className="h-6 w-6" />
        <span class="sr-only">LinkedIn</span>
      </Button>
    </a>
    <a href={LINKS.twitter} target="_blank">
      <Button variant="outline" size="icon" className="border-2 border-primary theme-border">
        <TwitterLogoIcon className="h-6 w-6" />
        <span class="sr-only">Twitter</span>
      </Button>
    </a>
    <a href={LINKS.instagram} target="_blank">
      <Button variant="outline" size="icon" className="border-2 border-primary theme-border">
        <InstagramLogoIcon className='h-6 w-6' />
        <span class="sr-only">Instagram</span>
      </Button>
    </a>
    <a href={LINKS.youtube} target="_blank">
      <Button variant="outline" size="icon" className="border-2 border-primary theme-border">
        <YoutubeIcon className='h-6 w-6' />
        <span class="sr-only">Youtube</span>
      </Button>
    </a>
    <a href={LINKS.discord} target="_blank">
      <Button variant="outline" size="icon" className="border-2 border-primary theme-border">
        <DiscordLogoIcon className='h-6 w-6' />
        <span class="sr-only">Discord</span>
      </Button>
    </a>
    <a href={LINKS.email}>
      <Button variant="outline" size="icon" className="border-2 border-primary theme-border">
        <Mail className="h-6 w-6" />
        <span class="sr-only">Email</span>
      </Button>
    </a>
    <a href={LINKS.medium}>
      <Button variant="outline" size="icon" className="border-2 border-primary theme-border">
        <ModulzLogoIcon className="h-6 w-6" />
        <span class="sr-only">Medium</span>
      </Button>
    </a>
  </div>